.rules-cost {
  display: flex;
  margin-bottom: 15px;
}

.rules {
  width: 390px;
  li {
    p {
      margin: 0;
      padding: 0;
      margin-left: -5px;
    }
    line-height: 1.5;
    margin-bottom: 12px;
  }
  ul {
    padding-left: 17px;
  }
}
.rules {
  margin-right: 20px;
  h4 {
    margin-bottom: 25px;
  }
}

.cost {
  h4 {
    margin-bottom: 23px;
  }
  h2 {
    margin: 0;
    margin-bottom: 13px;
  }
  p {
    margin: 0;
    margin-bottom: 29px;
  }
}
