h1, h2, h3 ,h4, p, li {
    font-family: Arial;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
    color: #1ea01e;
}
h3 {
    font-size: 30px;
    font-weight: 400;
   
}

h4 {
    font-size: 24px;
    font-weight: 400;
}

@font-face {
    font-family: 'TahomaRegular';
    src: url('../fonts/TahomaRegular.ttf');
  }