footer {
    width: 100%;
    background: #000000;
    margin: 0;
    padding: 0;
    height: 60px;
}
.logo-footer {
    height: 22px;
    max-width: 1003px;
    margin: auto;
    padding-left: 40px;
    padding-top: 19px;
}