header {
  h3,
  h1 {
    text-align: center;
    margin: 0;
    color: #fff;
  }
}

#biBoss {
  margin-bottom: 34px;
  padding-right: 8px;
}
#ball {
  margin-bottom: 42px;
  padding-right: 2px;
}
.mac {
  text-align: center;
  height: 415px;
  width: 100%;
  background-image: url("../img/mac.png");
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 33px;
}
.href1 {
  padding-top: 163px;
  padding-right: 4px;
  font-family: TahomaRegular;
  a {
    color: #5c37ef !important;
    text-decoration: none;
    border-bottom: 1px solid #5c37ef;
  }
}
