header {
  h3,
  h1 {
    text-align: center;
    margin: 0;
    color: #fff;
  }
}

#biBoss,
#ball {
  margin-bottom: 40px;
}
.mac {
  text-align: center;
  height: 415px;
  width: 100%;
  background-image: url("../img/mac.png");
  background-position: center center;
  background-repeat: no-repeat;
}
.href1 {
  padding-top: 165px;
}
