.why {
    text-align: center;
    background: #f7f8fa;
    height: 120px;
    border-radius: 5px;
    
   p {
       padding-top: 30px;
       margin-top: 0;
       margin-bottom: 10px;
   }
   h4 {
       margin: 0;

   }
   
}