.wrapper {
    max-width: 1003px;
    height: 100%;
    background: #fff;
    margin: auto;
    border-radius: 5px 5px 0 0;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: contain;
    padding-top: 59px;
    box-shadow: 0 0 35px rgba(0,0,0,0.1);
}


